django
dash
django_plotly_dash
joblib
keras
numpy
pandas
plotly
pytz
djangorestframework
python-dotenv
dj-database-url
django-crispy-forms
crispy-bootstrap5
django-compressor
psycopg2-binary
whitenoise